<mat-card>
  <mat-card-title>{{ statement.item }}</mat-card-title>
  <mat-card-content>
    <table>
      <tr>
        <td class="column-title">Date:</td>
        <td>{{ statement.date | date }}</td>
      </tr>
      <tr>
        <td class="column-title">Due:</td>
        <td>{{ statement.due | date }}</td>
      </tr>
      <tr>
        <td class="column-title">Qty:</td>
        <td>{{ statement.qty }}</td>
      </tr>
      <tr>
        <td class="column-title">Rate:</td>
        <td>{{ statement.rate }}</td>
      </tr>
      <tr>
        <td class="column-title">Tax:</td>
        <td>{{ statement.tax }}</td>
      </tr>
      <tr>
        <td class="column-title">Client Name:</td>
        <td>
          {{ statement.client.firstName }} {{ statement.client.lastName }}
        </td>
      </tr>
      <tr>
        <td class="column-title">Client Email:</td>
        <td>{{ statement.client.email }}</td>
      </tr>
      <tr>
        <td class="column-title">Total:</td>
        <td>${{ total }}</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      [routerLink]="['/dashboard', 'statements', statement._id]"
    >
      Edit
    </button>
    <button mat-button (click)="downloadHandler(statement._id)">
      Download
    </button>
  </mat-card-actions>
  <mat-progress-bar
    *ngIf="isLoading"
    mode="indeterminate"
    color="accent"
  ></mat-progress-bar>
</mat-card>
